[submodule "nanos-secure-sdk"]
	path = deps/nanos-secure-sdk
	url = https://github.com/LedgerHQ/nanos-secure-sdk.git
[submodule "BLAKE2"]
	path = deps/BLAKE2
	url = https://github.com/BLAKE2/BLAKE2
[submodule "cmake-modules"]
	path = cmake/cmake-modules
	url = https://github.com/bilke/cmake-modules.git
[submodule "nanox-secure-sdk"]
	path = deps/nanox-secure-sdk
	url = https://github.com/LedgerHQ/nanox-secure-sdk.git
[submodule "nanosplus-secure-sdk"]
	path = deps/nanosplus-secure-sdk
	url = https://github.com/LedgerHQ/nanosplus-secure-sdk
[submodule "blooo-ledger-lib"]
	path = deps/ledger-zxlib
	url = https://github.com/blooo-io/ledger-blooo-lib.git
